<h1>Showing article details</h1>

<p><Strong>Title: </Strong> <%= @articleToShow.title %></p>
<p><Strong>Description: </Strong>  <%= @articleToShow.description %> </p>

<%= link_to 'Edit', edit_article_path(@articleToShow) %>
<br>
<%= link_to 'Delete', article_path(@articleToShow), method: :delete, data: {confirm: 'Are you sure?'} %>
<br>

<%= link_to 'Back', articles_path %>
